[Unit]
Description=MevaCoin Daemon (seed3 - 87.106.233.72)
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
ExecStart=/root/mevacoin/build/Linux/master/release/bin/mevacoind \
    --detach --non-interactive \
    --data-dir /root/.mevacoin \
    --p2p-bind-ip 0.0.0.0 --p2p-bind-port 18080 \
    --rpc-bind-ip 0.0.0.0 --rpc-bind-port 18081 \
    --confirm-external-bind \
    --add-exclusive-node 82.165.218.56:18080 \\
    --add-exclusive-node 87.106.40.193:18080 \\
    --log-level 2 \
    --log-file /root/.mevacoin/mevacoind.log
PIDFile=/root/.mevacoin/mevacoind.pid
Restart=on-failure
RestartSec=30
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
