[Unit]
Description=Mevacoin Full Node
After=network-online.target

[Service]
User=mevacoin
Group=mevacoin
WorkingDirectory=~
StateDirectory=mevacoin
LogsDirectory=mevacoin

Type=simple
ExecStart=/usr/bin/mevacoind --config-file /etc/mevacoind.conf --non-interactive
StandardOutput=null
StandardError=null

Restart=always

[Install]
WantedBy=multi-user.target
